<main>
    <section class="about-me " id="about-me">
        <article>
            <p class="description ">Mi nombre es Joel, soy un <b>diseñador web</b> panameño que actualmente estudia varias tecnologias en tendencias relacionadas al desarrollo web. Entre ellas mi pasión son los productos <b>intuitivos</b> y las <b>meticulosas interfaces visuales</b>;
                No obstante también analizó el contexto y los comportamientos de los usuarios para crear las <b>mejores soluciones</b> para cada proyecto. También he trabajado como desarrollador en front-end en algunos proyectos, especialmente cuidando
                la aplicación de estilos y la integración con complementos interactivos. Cuando no estoy diseñando o pensando en diseño, puedes encontrarme haciendo ejercicio en el GYM, sentado en una sala de cine, viendo algunas series en Netflix o Jugando
                VideoJuegos.
            </p>
        </article>
        <section class="social">
            <a target="_blank" href="https://www.facebook.com/joelalexander.guerreronavarro.7"><img src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/img%2Fsocial%2Ff.png?alt=media&token=3507eb74-9937-4eb0-ae49-13bf458ec3dd" alt="Facebook"></a>
            <a target="_blank" href="https://www.instagram.com/jagn1003/"><img src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/img%2Fsocial%2Fi.png?alt=media&token=aca51c89-4348-48c4-b58c-e4a9b57f3849" alt="instagram"></a>
            <a target="_blank" href="https://github.com/JoelGuerrero03"><img src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/img%2Fsocial%2Fg.png?alt=media&token=503a8931-1eb9-44e6-9946-e34223d818e2" alt="github"></a>
            <a target="_blank" href="https://www.linkedin.com/in/joel-guerrero-00a61b179/"><img src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/img%2Fsocial%2Fl.png?alt=media&token=f2f0d128-0115-45b1-9a05-9d04862866b8" alt="linkedin"></a>
        </section>
    </section>
</main>
