<div>
    <section class="projects" alt="chair" id="projects">
        <h2 class="title">Proyectos</h2>
        <p class="description">
            Proyectos. Algunos alojados en
            <a target="_blank" href="https://github.com/JoelGuerrero03" class="ml-2"> Github</a>
        </p>
        <div class="project-description">
            <h2>Angular, HTML, SASS, TypeScript, Firebase Storage, Jquery y JavaScript</h2>
            <p>Estructura y Diseño</p>
            <div>
                <p>
                    <a target="_blank" href="https://github.com/JoelGuerrero03/Inovix">Inovix</a>
                </p>
            </div>
        </div>
    </section>
</div>