<!-- <app-loading onload="cargar()"></app-loading> -->
<!--
<div class="cargando" *ngIf="cargando">
    <app-loading></app-loading>
</div> -->

<header>
    <h1 class="title animated slideInUp " alt="leaf left "> Joel Alexander Guerrero Navarro </h1>

    <figure>
        <img class="animated jackInTheBox" src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/img%2FFotosPersonales%2F1.jpg?alt=media&token=9f4cb3d2-8b59-4c82-9759-cd0031765e1a" alt="Joel Alexander Guerrero Navarrro " width="100px ">
    </figure>
    <cite class="phrase animated slideInUp" alt="leaf left "> All our dreams can come true if we have the courage to pursue them.</cite>
</header>