<div>
    <section class="characteristics" id="characteristics">
        <div class="characteristic">
            <img src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/img%2Fcharacteristics%2Fcod.png?alt=media&token=05383098-ce02-4165-8caa-bc80d103fe7a" alt="Design and Develop">
            <h3 class="title">Diseño y Desarrollo</h3>
            <p class="description">Uso de HTML5, CSS3, JavaScript, Bootstrap , Angular y PHP</p>
        </div>
        <div class="characteristic">
            <img src="https://firebasestorage.googleapis.com/v0/b/inovix-fc770.appspot.com/o/img%2Fcharacteristics%2Fprog.png?alt=media&token=95d1d58b-56d8-44e8-8f84-77e7a39ecb44" alt="Study and Practice">
            <h3 class="title">Estudio constante y autodidacta</h3>
            <p class="description"></p>
        </div>
    </section>
</div>
