<!-- Navigation -->
<a id="menu-toggle" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" class="btn btn-light btn-lg float-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <!-- <a href=""><img src="../../../assets/img/responsive.svg" alt="Logo" width="80" /></a> -->
        </li>
        <li class="espaciado">
            <a class="links" href="#about-me">Sobre mí</a>
        </li>
        <li>
            <a class="links" href="#characteristics">Características</a>
        </li>
        <li>
            <a class="links" href="#projects">Proyectos</a>
        </li>
        <li>
            <a class="links" href="#skills">Habilidades</a>
        </li>
        <li>
            <a class="links" href="#contact">Contacto</a>
        </li>
        <!-- <li>
            <a class="links" href="Titulos.html">Titles and Certifications</a>
        </li> -->
    </ul>
</nav>


<a id="return-to-top"><i class="fas fa-chevron-up"></i></a>